* {
  transition-duration: var(--stellar-injected-transition-duration);
  -webkit-transition-duration: var(--stellar-injected-transition-duration);
  -moz-transition-duration: var(--stellar-injected-transition-duration);
  -o-transition-duration: var(--stellar-injected-transition-duration);
}

::selection {
  background: var(--stellar-injected-color-selection) !important;
  color: #fff;
}

// loading bar
div.turbo-progress-bar {
  background-color: var(--stellar-injected-color-loading-bar) !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--stellar-injected-color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--stellar-injected-color-scrollbar-thumb) !important;
}

// notification icon
#AppHeader-notifications-button > span {
  background-image: var(--stellar-injected-color-notifcation) !important;
  border: var(--stellar-injected-color-notifcation-border) !important;
}

// search bar clicked
.header-search-wrapper.focus {
  background-color: var(--color-header-search-bg) !important;
}

// checkboxes
input[type='checkbox'] {
  &:active {
    accent-color: var(--stellar-injected-color-checkbox-active) !important;
  }

  &:checked {
    accent-color: var(--stellar-injected-color-checkbox-focus) !important;
  }
}

input[type='radio'] {
  &:checked {
    accent-color: var(--stellar-injected-color-radio-focus) !important;
  }
}

.topic-tag-action,
.delete-topic-button,
.topic-tag {
  transition-duration: var(--stellar-injected-topic-tag-transition-duration) !important;
}

.markdown-body .highlight pre,
.markdown-body pre,
#repo-content-pjax-container > div > div > div > div,
body > div.application-main > main > div.container-xl.px-3.px-md-4.px-lg-5 > div > div.Layout-main > div {
  &::-webkit-scrollbar {
    // display: none;
    height: 8px !important;
  }
}

#user-activity-overview > div > div.d-flex.flex-column.flex-lg-row > div.pl-lg-3.col-6.border-lg-left > div > svg.js-activity-overview-graph.mx-auto.d-block > g > path {
  fill: var(--stellar-injected-activity-overview-fill) !important;
  stroke: var(--stellar-injected-activity-overview-stroke) !important;
}

.stellar-injected-banner-container {
  width: 100%;
  background-color: var(--color-canvas-default);
  border-color: var(--color-border-default);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  padding: 24px;
  margin-top: 24px;
  display: grid;
  grid-template-rows: max-content max-content;
}

.stellar-injected-banner-img {
  width: 100%;
  border-radius: 6px;
  max-height: 300px;
}

.stellar-injected-cursor-pointer {
  cursor: pointer !important;
}
