* {
  transition-duration: var(--stellar-injected-transition-duration);
  -webkit-transition-duration: var(--stellar-injected-transition-duration);
  -moz-transition-duration: var(--stellar-injected-transition-duration);
  -o-transition-duration: var(--stellar-injected-transition-duration);
}

::selection {
  background: var(--stellar-injected-color-selection) !important;
  color: #fff;
}

// loading bar
div.turbo-progress-bar {
  background-color: var(--stellar-injected-color-loading-bar) !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--stellar-injected-color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--stellar-injected-color-scrollbar-thumb) !important;
}

// notification icon
#AppHeader-notifications-button > span {
  background-image: var(--stellar-injected-color-notifcation) !important;
  border: var(--stellar-injected-color-notifcation-border) !important;
}

// search bar clicked
.header-search-wrapper.focus {
  background-color: var(--color-header-search-bg) !important;
}

// checkboxes
input[type='checkbox'] {
  &:active {
    accent-color: var(--stellar-injected-color-checkbox-active) !important;
  }

  &:checked {
    accent-color: var(--stellar-injected-color-checkbox-focus) !important;
  }
}

input[type='radio'] {
  &:checked {
    accent-color: var(--stellar-injected-color-radio-focus) !important;
  }
}

.topic-tag-action,
.delete-topic-button,
.topic-tag {
  transition-duration: var(--stellar-injected-topic-tag-transition-duration) !important;
}

.markdown-body .highlight pre,
.markdown-body pre {
  &::-webkit-scrollbar {
    // display: none;
    height: 8px !important;
  }
}
