@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #0c0c0c;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  cursor: url('./crosshair.svg'), default !important;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 24px;
  margin: 0;
}

.title-p {
  color: gray;
}

::selection {
  background: #9335f2;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f0f0e;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(to top, #9335f2 0%, #aa74e0 100%);
}

#main {
  margin-top: 20px;
  width: max-content;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  place-items: center;

  & h1 {
    margin: 0;
  }
}

#logo {
  width: 200px;
  height: 200px;
}

#title-text {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;

  & span {
    background-color: #262626;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 32px;
  }
}

.float-animation {
  -webkit-animation: float 2.5s;
  animation: float 2.5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(5px);
  }

  100% {
    -webkit-transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.input-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;

  & p {
    margin: 0;
  }

  & input {
    margin-left: auto;
    width: 140px;
    height: 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #111111;
    padding: 4px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    cursor: url('./crosshair.svg'), default !important;
  }
}

.input-container-large {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 6px;

  & p {
    margin: 0;
  }

  & textarea {
    width: 100%;
    min-height: 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #111111;
    padding: 4px;
    font-size: 24px;
    resize: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: url('./crosshair.svg'), default !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

#save {
  margin-top: 10px;
  color: #fff;
  font-size: 24px;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #9335f2 0%, #aa74e0 100%);
  background-image: -webkit-linear-gradient(45deg, #9335f2 0%, #aa74e0 100%);
  background-image: -moz-linear-gradient(45deg, #9335f2 0%, #aa74e0 100%);
  transition-duration: 250ms;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
  }
}

#input-containers-container,
#custom-stellar-inputs-container {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 6px;
}

.line {
  height: 2px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}
